.page.theme_light {
  --cover-image: url(../images/cover-image-light.png);
  --background-color: #fff1f7;
  --accent-color: #ff8dcb;
  --accent-color-with-background: #353430;
  --accent-heading-color: #ffc2e6;
  --text-color: #353430;
  --button-color-hover: #32312d66;
  --menu-color: #353430;
  --headers-color: #353430;
  --rec-bracket-color: #353430;
  --rec-decoration-color: transparent;
}

@media (prefers-color-scheme: light) {
  :root {
    --cover-image: url(../images/cover-image-light.png);
    --background-color: #fff1f7;
    --accent-color: #ff8dcb;
    --accent-color-with-background: #353430;
    --accent-heading-color: #ffc2e6;
    --text-color: #353430;
    --button-color-hover: #32312d66;
    --menu-color: #353430;
    --heading-color: #353430;
    --rec-bracket-color: #353430;
    --rec-decoration-color: transparent;
  }
}
